* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

ul{
  list-style-type:none;
}

button {
  outline:0;
  border:none;
  font-family: inherit;
  background-color:transparent;
  cursor: pointer;
}

input{
  border: none;
  outline:0;
  font-family:inherit;
}

.display-font{
  font-family: 'Trocchi', serif;
}

.paragraph-font{
  font-family: 'Tenor Sans', sans-serif;
}

.App{
  position: relative;
  min-height: 100vh;
}

.app-wrap {
  padding-bottom: 75px;
}

.stuck-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;         /* Footer height */
}