@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  ul{
    list-style-type:none;
  }
  
  button {
    outline:0;
    border:none;
    font-family: inherit;
    background-color:transparent;
    cursor: pointer;
  }
  
  input{
    border: none;
    outline:0;
    font-family:inherit;
  }
  
  .display-font{
    font-family: 'Trocchi', serif;
  }
  
  .paragraph-font{
    font-family: 'Tenor Sans', sans-serif;
    font-weight:bold;
  }